<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataDip</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <link
        rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <div class="container p-6">
        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column is-half is-narrow has-text-centered">
                <h1 class="title is-size-1">Welcome to DataDip!</h1>
                <h2 class="subtitle is-size-3">Coming soon! In the meantime...</h2>
                <a href="https://miguel.datadip.es">
                    <button class="button is-link is-size-3">Check out my projects!</button>
                </a>
            </div>
        </div> 
    </div>
</body>
</html>
